/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

@font-face {
  font-family: suisse;
  src: url('/suisse.woff');
}

@font-face {
  font-family: dotgothic16;
  src: url('/DotGothic16-Regular.ttf');
}

@font-face {
  font-family: screenfont;
  src: url('/screenfont.woff2');
}

@font-face {
  font-family: hershey;
  src: url('/Hershey-Noailles-Futura-Duplex-Regular.woff2');
}

/* Set core body defaults */
body {
  background: black;
  color: white;
  font-family: hershey;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  cursor: pointer;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  background: #333;
  background-image: linear-gradient(90deg, #222 1px, transparent 0),
    linear-gradient(180deg, #222 1px, transparent 0);
  background-size: 24px 24px;
  --tw-bg-opacity: 1;
  background-color: rgb(17 17 17 / var(--tw-bg-opacity));
}
