.menu {
  position: absolute;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: hershey;
  font-size: 16px;
  animation: fade 1s ease 0s 1 normal forwards;
  @media (min-width: 701px) {
    flex-direction: row;
    gap: 20px;
  }
}

.menuItem a {
  color: white;
}

.nav {
  display: flex;
  font-family: hershey;
  font-size: 16px;
  justify-content: space-between;
  padding: 10px;
  text-transform: uppercase;
}

.counter {
  position: absolute;
  right: 20px;
  padding-left: 20px;
  @media (min-width: 701px) and (max-width: 1120px) {
    padding: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
