.header {
  height: 40px;
  position: relative;
}

.menu {
  display: flex;
  gap: 10px;
  font-size: 14px;
  animation: fade 1s ease 0s 1 normal forwards;
}

.menuItem a {
  color: white;
}

.menuItem:hover {
  opacity: 0.8;
}

.nav {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  padding: 20px;
  text-transform: uppercase;
  height: 100%;
}

.counter {
  padding-left: 20px;
  position: absolute;
  right: 20px;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
