.main {
  position: relative;
  height: calc(100% - 40px);
  width: 100%;
  font-family: suisse;
  display: flex;
  align-items: flex-end;
}

.initMessage {
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

.article {
  position: absolute;
  width: 30%;
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.article:hover {
  opacity: 0.8;
}

.grid {
  display: flex;
  flex-direction: column;
  padding: 20px;
  animation: fade 1s ease 0s 1 normal forwards;
  gap: 20px;

  & .gridRow {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    padding-top: 20px;
  }

  & .firstArticle {
    border: 1px solid white;
    padding: 8px;
  }
}

.grid .article {
  position: static !important;
  max-width: 15%;
}

.title {
  font-size: 14px;
  font-family: hershey;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 20px;
}

.image {
  object-fit: cover;
  border: 1px solid white;
  width: 100% !important;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
