.main {
  position: relative;
  height: calc(100% - 40px);
  width: 100%;
}

.initMessage {
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

.article {
  position: absolute;
  width: 30%;
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.article:hover {
  opacity: 0.8;
}

.grid {
  display: flex;
  flex-direction: column;
  padding: 20px;
  animation: fade 1s ease 0s 1 normal forwards;
  gap: 20px;
  height: 100%;
  min-height: 100%;

  & .gridRow {
    gap: 14px;
    padding-top: 20px;
  }

  & .firstArticle {
    border: 1px solid white;
    padding: 8px;
  }
}

.grid .article {
  position: static !important;
  width: 100%;
  margin-bottom: 20px;
}

.title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 10px;
}

.image {
  object-fit: cover;
  border: 1px solid white;
  width: 100% !important;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.clic {
  display: none;
}

@media (min-width: 600px) {
  .gridRow {
    display: flex;
    flex-wrap: wrap;
  }

  .article {
    max-width: 30%;
    margin-bottom: 0;
  }

  .title {
    height: 100px;
    padding-bottom: 20px;
  }

  .main {
    display: flex;
    align-items: flex-end;
    height: calc(100vh - 40px);
  }
}

@media (min-width: 1024px) {
  .article {
    max-width: 15%;
  }
}
