/* @media (max-width: 700px) {}

@media (min-width: 701px) and (max-width: 1120px) {} */

.main {
  position: relative;
  height: 100%;
  width: 100%;
  font-family: suisse;
}

.initMessage {
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

.article {
  position: absolute;
  width: 30%;
  font-size: 14px;
  text-align: left;
  text-justify: inter-word;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.grid .article {
  position: static !important;
  width: 20%;
  border: 1px solid black;
  padding: 10px;
}

.title {
  font-size: 14px;
  font-family: hershey;
  text-transform: uppercase;
  font-weight: 300;
}
